.row {
  display: block;
}

.center {
  text-align: center;
}

.podium {
  background-image: url('./imagenes/podium.png');
  width: 500px;
  height: 283px;
}

.cuadrado {
  width: 500px;
  height: 330px;
  border: 3px solid #555;
  border-radius: 10px;
}
